div .rc-slider-rail {
  background: rgba(233, 233, 233, 0.7);
}

div.r-2 .rc-slider-track {
  background-color: #559945;
}

div.r-5 .rc-slider-track {
  background-color: #ffa200;
}

div.r-8 .rc-slider-track {
  background-color: #ff006f;
}

div.r-10 .rc-slider-track {
  background-color: #ff002b;
}

.rdp-button:hover:not([disabled]) {
  background-color: rgba(233, 233, 233, 0.2);
}

.rdp-day_selected:not([disabled]) {
  background-color: rgba(233, 233, 233, 0.5);
}
.rdp-button:focus:not([disabled]) {
  background-color: rgba(233, 233, 233, 0.5);
}

.rdp-table tfoot {
  margin-top: 20px;
}
